<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${album.title}">Album Detail</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/album-detail.css">
</head>
<body>
    <header>
        <span id="open-button" onclick="openForm()">&#9776;</span>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/albums">albums</a></li>
            <li><a href="/songs">songs</a></li>
        </ul>
    </header>
    <main id="main">
        <h1>Album Detail</h1>
        <div class="album-group">
            <article id="open-article" onclick="openForm()">
                <img th:src="${album.imageUrl}" alt="cover art" />
                <h2 th:text="${album.artist}"></h2>
                <tr class="album-details">
                    <h3 th:text="${album.title}"></h3>
                    <div id="table-container">
                        <table id="all-songs">
                            <tr>
                                <th>#</th>
                                <th>Song Title</th>
                                <th>Length</th>
                            </tr>
                            <tr th:each="song : ${album.trackList}">
                                <td th:text="${song.trackNumber}"></td>
                                <td th:text="${song.title}"></td>
                                <td th:text="${song.length / 60 + ':' + ('' + (100 + song.length % 60)).substring(1) }"></td>
                            </tr>
                            <tfoot>
                                <td></td>
                                <td></td>
                                <td th:text="${album.lengthInSeconds / 60 + ':' + ('' + (100 + album.lengthInSeconds % 60)).substring(1) }"></td>
                            </tfoot>
                        </table>
                    </div>
            </article>
        </div>
        <div id="side-form" class="side">
            <a href="javascript:void(0)" class="close" onclick="closeForm()">&times;</a>
            <form action="/addSong/" method="post">
                <fieldset>
                    <legend th:text="${'Add a Song to ' + album.title}">Add a Song</legend>
                    <input type="hidden" name="albumId" th:value="${album.id}">
                    <label for="title">Song Title</label>
                    <input type="text" name="title" required>
                    <label for="lengthInSeconds">Length in Seconds</label>
                    <input type="text" name="lengthInSeconds" required>
                    <label for="trackNumber">Track Number</label>
                    <input type="number" name="trackNumber" required>
                    <input class="button" type="submit" value="Add Song">
                </fieldset>
            </form>
        </div>
    </main>
<script>
    function openForm() {
        document.getElementById("side-form").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("open-button").style.opacity = "0";
    }
    function closeForm() {
        document.getElementById("side-form").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("open-button").style.opacity = "1";
    }
</script>
</body>
</html>