<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Songr</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/albums">albums</a></li>
        </ul>
    </header>
    <main>
        <img class="title-image" src="/images/title.png" alt="Songr">
    </main>
    <footer>
        <div></div>
    </footer>
</body>
</html>